.header {
    height: 50px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}
