@import "./../../styles/breakpoints.scss";

.c-category {
  margin: 0 50px;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 50px;
  border-bottom: 1px solid lightgray;
  max-width: 1250px;

  @include breakpoint(desktop-sm) {
    margin: 0 auto 50px auto;
  }
  .c-category-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    @include breakpoint(desktop-sm) {
      margin-bottom: 25px;
    }
    .name {
      font-size: 3.5rem;
      @include breakpoint(desktop-sm) {
        font-size: 2rem;
      }
    }
    .edit {
      font-size: 2rem;
      @include breakpoint(desktop-sm) {
        font-size: 1.5rem;
      }
    }
  }
  .c-category-body {
    display: flex;
    flex-wrap: wrap;
  }
}
